<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.example.usuario.googlemapatest.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.usuario.googlemapstest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_BotonPanico"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".item_contact"
            android:exported="false" />
        <activity
            android:name=".Main_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAg4AZWPMCqGoQt_rzjvKDDLF9OEWR1IvA" />

        <activity
            android:name=".contacts.Controller_qa_contact"
            android:exported="false" />
        <activity
            android:name=".qa_contacts"
            android:exported="false" />
        <activity
            android:name=".qa_map"
            android:exported="false" />
        <activity
            android:name=".qa_panic_button"
            android:exported="false" />
        <activity
            android:name=".insert_new_password.insert_new_password"
            android:exported="false" />
        <activity
            android:name=".reset_password"
            android:exported="false" />
        <activity
            android:name=".qa_main_menu"
            android:exported="false" />
        <activity
            android:name=".data_register.Controller_data_register"
            android:exported="false" />
        <activity
            android:name=".sign_in.Controller_sign_in_user"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>